.button-dropdown-link-container {
    position: relative;
    top: 0;
    background-color: var(--gray-2);
    color: var(--primary-color);
    color-scheme: light;
    z-index: 999991;
    min-width: 200px;
    max-width: 600px;
    transform: none;
    transition:
        transform 300ms,
        min-width 300ms,
        max-width 300ms;
}

.button-dropdown-link {
    --button-dropdown-link-opened-border-radius: 0.5rem 0.5rem 0px 0px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--primary-font-weight);
    padding: 0.25rem 1rem;
    border-radius: var(--border-radius);
    min-height: 2.5rem;
    margin: 0;
    line-height: 1.6;
    text-transform: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 100%;
    cursor: pointer;
    user-select: none;
    background-color: var(--button-dropdown-link-bg);
    border: var(--border-line-width) solid var(--border-color);
}

.button-dropdown-link:hover,
.button-dropdown-link:focus-visible {
    background-color: var(--button-dropdown-link-hover-bg);
}

.button-dropdown-link-container.dropdown-opened .button-dropdown-link {
    border-radius: var(--button-dropdown-link-opened-border-radius);
    transition:
        border-radius 200ms cubic-bezier(0.23, 1, 0.32, 1),
        background-color 150ms;
}

.button-dropdown-link-container.dropdown-opened .button-dropdown-link,
.button-dropdown-link-container.dropdown-closed .button-dropdown-link {
    justify-content: flex-start;
}

/* button dropdown link chevron icon */
.button-dropdown-link i {
    font-size: var(--primary-font-size);
    margin-right: 1rem;
}

.button-dropdown-link a {
    padding: 0;
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    word-break: break-all;
    margin: 0;
    text-decoration: none;
    color: inherit;
}
