.custom-dropdown-menu,
.custom-dropdown-menu ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s linear;
}

.custom-dropdown-menu.menu-opened {
    border-right: var(--border-line-width) solid var(--border-color);
    border-bottom: var(--border-line-width) solid var(--border-color);
    border-left: var(--border-line-width) solid var(--border-color);
    --custom-dropdown-menu-border-radius: 0px 0px 0.5rem 0.5rem;
    border-radius: var(--custom-dropdown-menu-border-radius);
    transition: border-radius 200ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 150ms, max-height .5s linear;

    padding: 1rem;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 500px;
    min-width: 1rem;
    flex-flow: column;
    flex: 1 1 0%;
    -webkit-box-align: start;
    align-items: start;
    -webkit-box-pack: start;
    justify-content: start;

    block-size: auto;
    block-size: calc-size(auto);

    &:not(.custom-dropdown-menu.menu-opened) {
        gap: 1rem;
    }
}

.custom-dropdown-menu.menu-closed {
    max-height: 0px;

}

.custom-dropdown-menu.menu-closed ul {
    max-height: 0px;
    display: none !important;
}

.custom-dropdown-menu ul {
    padding: 0px;
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 500px;
    min-width: 1rem;
    flex-flow: column;
    flex: 1 1 0%;
    -webkit-box-align: start;
    align-items: start;
    -webkit-box-pack: start;
    justify-content: start;
}

.custom-dropdown-menu li {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 1rem;
    position: relative;
    overflow: visible;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: var(--primary-font-weight);
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius);
    min-height: 2.5rem;
    margin: 0px;
    line-height: 1.6;
    text-transform: none;
    font-size: var(--primary-font-size);
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    user-select: none;
    background-color: var(--button-dropdown-link-bg);
    border: var(--border-line-width) solid var(--border-color);
}


.custom-dropdown-menu li:hover,
.custom-dropdown-menu li:focus-visible {
    background-color: var(--button-dropdown-link-hover-bg);
}

.custom-dropdown-menu li a {
    color: inherit;
    text-decoration: none;
}
